#header{
    background-color: #1e2227;
    width: 100%;    
    height: 150px;
    margin-left: 0;
}

#title{
    font-family:'Algerian';
    font-size: 100;
    color: white;
    text-align: center;
}

#menu{
    width: 100%;
    height: 60px;
    margin-top: 1px;
    position: relative;
}

.yatay-menu {
   margin-top: 1px;
   font-size: 25px;
   font-style: oblique;
   font-family: 'Adobe Devanagari'; 
   padding: 0;
   text-align: center;
   list-style: none;
}

.yatay-menu li {
    display: inline-block;
    padding: 16px;  
    margin:auto ;  
}

.yatay-menu li a {
    text-decoration: none;
    color:#1e2227;
    padding: 18px;  
}

.yatay-menu li a:hover {
    color:orangered;
    border: 3px black solid;
    border-radius: 10%;     
    box-shadow: 0 8px 16px 0 #1e2227;
    padding: 15px;
    cursor: pointer;
}

.yatay-menu li a.active {
    background-color: red;
    color:white;
    border-radius: 10%; 
}

.section{
    margin-top: 15px;
    width: 100%;
    height: 500px;

}

.left{
    float: left;
    width: 49%  ;
    height: 500px  ;
    margin-top: 20px  ;
    margin-bottom: 20px;
}

.himg1{
    width: 100% ;
    height: 100%;
    opacity: 1;
    position: relative;
    margin: 0px;
    
}

.right{
    float: right;
    width: 49%  ;
    height: 470px  ;
    margin-top: 20px  ;
    margin-bottom: 20px;    
}

.text h2  {
   font-style: normal;
   font-family: 'Times New Roman', Times, serif;
   color: black;
   padding: 0px;
   margin: 0px;
   text-decoration: underline;
   font-size: 35px;
}

.text p {
    font-style: normal;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 10px;
    color: black;
    padding: 15px;
    margin: 0px;
    word-spacing: 10px;
    line-height: 25px;
    font-size: 25px;
    overflow: auto;
}

.liste-style-image{
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

